.idea
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
sdist/
eggs/
.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX
*.ps
*.pdf
*.log
*.aux
*.toc
*.out
*.dvi
*.bbl
*.blg
*.vrb
*.nav
*.snm